/* CSS file */

Application {
	background-color: #ffffff;
	background-gradient-colors: #ffffff, #ffffff;
	color: #1f354d;
	font-family: verdana;
	font-size: 10;
	padding-bottom: 10;
	padding-top: 20;
	padding-left: 10;
	padding-right: 10;
	theme-color: #ff5a00;
}

/*
ApplicationControlBar {
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	drop-shadow-enabled: false;
	background-color: invisible;
	border-style: none;
	font-weight: bold;
	font-size: 11;
}
*/

VBox {
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	padding-top: 10;
}

.toolContainer {
	padding-bottom: 10; 
	padding-top: 10; 
	padding-left: 10; 
	padding-right: 10; 
	backgroundColor: #ffffff;
	backgroundAlpha: 1;
	dropShadowEnabled: true;
	dropShadowColor: #666666;
	borderStyle: solid;
	border-thickness: 1;
	border-color: #a2b7c5;
	border-sides: top, left, bottom, right;
}
Panel {
	border-sides: top left bottom right;
	border-color: #a2b7c5;
	background-color: #f2f5f7;
	border-alpha: 100;
	border-thickness: 1;
	border-thickness-bottom: 1;
	border-thickness-left: 1;
	border-thickness-right: 1;
	border-thickness-top: 1;
	header-height: 20;
	drop-shadow-enabled: false;
	corner-radius: 0;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	padding-top: 10;
}
TabNavigator {
	background-color: #f2f5f7;
	padding-left: 10;
	padding-right: 10;
	padding-bottom: 10;
	padding-top: 10;
}

Button {
	corner-radius: 2;
	border-color: #a2b7c5;
	border-sides: all;
	border-style: solid;
	border-thickness: 1;
	font-weight: normal;
}

DataGrid {
	alternating-item-colors: #f2f5f7, #f2f5f7;
	roll-over-color: #c7d7e2;
	header-colors: #E7E7E7, #E7E7E7;
	header-style-name: "dgHeader";
	border-style: solid;
	border-color: #a2b7c5;
	selection-color: #a2b7c5;
	vertical-grid-line-color: #a2b7c5;
	horizontal-grid-line-color: #a2b7c5;
	vertical-grid-lines: true;
	horizontal-grid-lines: false;
}

ControlBar {
	padding-left: 10;
	padding-right: 10;
	padding-top: 0;
	padding-bottom: 0;
}

Form {
	vertical-gap: 3;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}


.noPadding {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.dgHeader {
	font-weight: bold;
}

.pageHeader {
	horizontal-align: left;
	vertical-align: middle;
	padding-bottom: 10;
	padding-left: 10;
	font-family: verdana;
	font-size: 21;
	font-weight: normal;
	color: #647a8d; 
}

.textAreaClean {
	background-color: invisible;
	border-sides: none;
	border-thickness: 0;
	border-style: none;
	
}
.listClean {
	background-color: invisible;
	border-sides: none;
	border-thickness: 0;
	border-style: none;
	
}
.listBookTitle {
	font-weight: bold;
}
LinkButton {
	background-color: #a2b7c5; 
	corner-radius: 0;
	color: #1f354d;
	roll-over-color: #FFFFFF;
	selection-color: #FFFFFF;
	text-roll-over-color: #ff5a00;
	text-selected-color: #ff5a00;
	text-decoration:underline;
}

.tittel {
	font-size: 18;
	padding-bottom: 2;
	font-weight: normal;
	color: #647a8d; 
}
.description {
	font-size: 11;
	padding-top: 0;
	font-weight: normal;
	color: #647a8d; 
}

LinkBar {
	text-decoration: none;
	color: #000000;
}
